/* styles.css */
body {
    font-family: "Optimist", 
        "system"-ui, "Segoe UI", "Roboto", 
        "Oxygen", Ubuntu, "Cantarell", 
        "Fira Sans", "Droid Sans", "sans-serif", 
        "Apple Color Emoji", "Segoe UI Emoji", 
        "Segoe UI Symbol";
        height: 3000px;
        background-color: #f4f4f4;
        padding-top: 100px;
    }

.header {
    padding:10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;

}

.left-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20%;
}
.countrie, .language{
    margin-right: 10px;
    padding: 5px;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin-left: 10%;
}

.logo a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.actions .login-btn,
.actions .sign-up-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
}

.actions .sign-up-btn {
    background-color: #28a745;
}

.actions .login-btn:hover,
.actions .sign-up-btn:hover {
    opacity: 0.8;
}


.login {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    flex-shrink: 0;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
    height: 600px;
    padding: 50px;

}


.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    padding-left: 8px;
    font-weight: bold;
    font-size: medium;
}

.form-group input {
    width: 100%;
    padding: 25px;
    margin: 4px;
    border: 1px solid #ccc;
    border-radius: 6px;
    height: 8px;
}

.login-bbt {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgb(0, 112, 168);;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 550;
    cursor: pointer;
    min-height: 48px;
    min-width: 84px;
}

button:hover {
    background-color: #0056b3;
}

#message {
    margin-top: 10px;
    color: red;
    text-align: center;
}

.logoca{
    display: flex; justify-content: center;
}
.logoca img{
    width: 170px;
    margin-bottom: 10px;
    margin-left: 68px;
    margin-right: 68px;
}
.s-in{
    text-align: center;
    font-size: x-large;
    margin-top: 0;

}

.omni-checkbox{
    display: flex;
    margin-bottom: 30px;
}
.custom-checkbox{
   height: 25px;
   width: 25px;
   border: 4px solid rgb(4, 4, 4);
   display: flex;
}
.omni-checkbox label{
display: flex;
justify-content: center;
align-items: center;
padding-left: 10px;
font-size: medium;
font-weight: normal;
}
.forgot-pass a, .set-up a{
    text-decoration: none;
    color: rgb(7, 117, 173);
    font-size: medium;
    font-weight: 550;
}
.forgot-pass, .set-up{
    margin-top: 10px;
    margin-bottom: 10px;
}

.set-up:hover{
    text-decoration: underline;
}
.forgot-pass:hover{text-decoration: underline;
}

.commercial a,p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;;
}
.commercial a{
    color: rgb(1, 111, 165);
    font-size: large;
    font-weight: 500;

}
footer{
    display:grid;
    grid-template-columns: 4fr 1fr;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.foot-er{
    display:flex;
    justify-content:center;
    align-items: center;
}
.foot-er p{
    padding: 5px;
}
.fdeq{
    display: flex;
}
.fdeq img{
    padding: 5px;
}